<mat-card class="example-card" appearance="outlined">
  <div class="flex flex-row">
    <div class="basis-1/4">

      <mat-card-content>
        <div class="flex flex-col">
          <div class="flex justify-center">
            <img class="flex rounded-full aspect-square object-cover h-60 w-60"
            src="https://images.stockcake.com/public/f/9/b/f9b34d91-9a6f-4da3-a1f7-ccc78cfc884f_large/springtime-anime-relaxation-stockcake.jpg"
            alt="Avatar of User">
          </div>

          <div class="flex justify-center">
            <div class="flex flex-col">
              <div class="flex flex-row">
                <h2> Abdullah Al Mamun</h2>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="verified_user"></mat-icon>
              </div>


              <p>Download SportsCV</p>
              <p>Competence</p>
              <p>Privacy and Settings</p>
            </div>

          </div>



        </div>
      </mat-card-content>

    </div>
    <div class="basis-1/2">
      <mat-card-content>
        <h2> My information</h2>

        <div class="mainColumn flex-col">
          <div class="names flex flex-row">
            <div class="firstName basis-1/4">
              <p>First name</p>
              <h4>Abdullah al</h4>
            </div>
            <div class="lastName basis-1/4">
              <p>Surname</p>
              <h4>Mamun</h4>
            </div>
          </div>

          <div class="birthAndGender flex flex-row">
            <div class="dob basis-1/4">
              <p>Date of birth</p>
              <h4>05.05.1995</h4>
            </div>
            <div class="gender basis-1/4">
              <p>Gender</p>
              <h4>Mann</h4>
            </div>
          </div>

          <div class="citizenship flex flex-row">
            <div class="citizenship basis-1/4">
              <p>Citizenship</p>
              <h4></h4>
            </div>
          </div>

          <div class="address flex flex-col">
              <p>Address</p>
              <h4>Sofienberggata 44</h4>
          </div>

          <div class="postcodeAndTownAndCountry flex flex-row">
            <div class="postcode basis-1/4">
              <h4>0560</h4>
            </div>

            <div class="town basis-1/4">
              <h4>OSLO</h4>
            </div>

            <div class="postcode basis-1/4">
              <h4>Norway</h4>
            </div>
          </div>

        </div>


        <mat-divider></mat-divider>

        <h2> Email and phone number </h2>

        <div class="mainColumn flex-col">
          <div class="email flex flex-col">
              <p>E-mail</p>
              <div class="flex flex-row">
                <div class="basis-1/2">
                  <h4>abdullahrensgmail.com (primary)</h4>
                </div>
                <div class="flex basis-1/2 justify-end">
                  <div class="">
                      <button mat-button>Edit</button>
                  </div>
                </div>
              </div>
              <div class="">
                  <button mat-button>+ Add emails</button>
              </div>
          </div>

        </div>

        <mat-divider></mat-divider>

        <div class="mainColumn flex-col">
          <div class="phone flex flex-col">
              <p>Phone number</p>
              <div class="flex flex-row">
                <div class="basis-1/2">
                  <h4>46 54 05 05 (primary)</h4>
                </div>
                <div class="flex basis-1/2 justify-end">
                  <div class="">
                      <button mat-button>Edit</button>
                  </div>
                </div>
              </div>
              <div class="">
                  <button mat-button>+ Add phone number</button>
              </div>

          </div>

        </div>

        <mat-divider></mat-divider>

        <h2> Security </h2>

        <div class="mainColumn flex-col">
          <div class="email flex flex-col">
              <p>Username</p>
              <div class="flex flex-row">
                <div class="basis-1/2">
                  <h4>abdullahrensgmail.com (primary)</h4>
                </div>
                <div class="flex basis-1/2 justify-end">
                  <div class="">
                      <button mat-button>Edit</button>
                  </div>
                </div>
              </div>
          </div>
          <div class="email flex flex-col">
              <div class="flex flex-row">
                <div class="basis-1/2">
                  <h4>Password(*****)</h4>
                </div>
                <div class="flex basis-1/2 justify-end">
                  <div class="">
                      <button mat-button>Edit</button>
                  </div>
                </div>
              </div>
          </div>

        </div>

        <mat-divider></mat-divider>

        <h2> Other personal info </h2>

        <div class="mainColumn flex-col">
          <div class="personid flex flex-col">
              <p>Personid</p>
              <h4>101010</h4>
          </div>
          <div class="buypassid flex flex-col">
            <h4>Buypassid</h4>
            <h4>202020</h4>
          </div>

        </div>

      </mat-card-content>
    </div>
  </div>


</mat-card>
